[user]
	email = sanshizhisu@outlook.com
	name = sanshi
[core]
	editor = vim
    quotepath = false
[alias]
	co = checkout
    br = branch
    ci = commit
    st = status
    graph = log --all --graph --decorate --oneline
	unstage = reset HEAD --
[pull]
	rebase = true
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
